#container {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.box_head {
    display: flex;
    justify-content: space-around;
}

.container-panier {
    display: flex;
    flex-direction: column;
}

.nav-link {
    margin:auto
}

.list-group {
    display: flex;
    position:sticky;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: solid 1px black;
    height: 700px;
}

.product_img {
    width:100%;
    max-width: 400px;
    height:100%;
    max-height: 250px;
}

.product_box {
    width: 100%;
}

#products {
    width: 40%;
    margin: 50px auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-detail {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: auto;
}

div.list-group {
    width: 100%;
    text-align: center;
}

footer {
    text-align: center;
    background-color: lightgrey;
    height: auto;
    padding: 10px;
    justify-content: center;
    margin: auto;
}