{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- update profile -->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">

                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">

                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">

                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">

                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">

                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2">

                <button type="submit" class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
{% endblock %}